.expansion {
  background-color: rgb(0, 115, 230) !important;
  text-align: center;
}

.expansionCard {
  background-image: url("../../Images/blackBoard.jpg") !important;
  color: white !important;
  width: 40vw;
}

.expansionDetail {
  text-align: center !important;
  justify-content: center;
}
